.white{color:white;}

.nav-logo{height:50px;}

.nrca-logo{zoom:25%}

.bg-black{background-color: #222;}

ul.social-buttons li a {background-color: gray;}

.gray-shadow{box-shadow: 5px 5px 5px gray;}

.green{color:rgb(20,168,25);}

.center{text-align:center;}

.img-centered{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mt10{margin-top:10px;}

video{
    width: 100vw;
    object-fit: cover;
}